<section class="widget">
  <h3 class="head">
    Answers
  </h3>
  <ul id="answers">
    <% @user.activities.where(:kind => "create_answer").each do |answer| %>
        <li>
          <div class="question-block">
            <%= link_to answer.data["question_title"], question_path(:id => answer.data['question_id'],
                                                                            :anchor => "answer-#{answer.data['answer_id']}") %>
          </div>
          <div class="answer-block">
           <%=	answer.data["answer_excerpt"]  %>
            <div class="date">
              -- <%=	 answer.created_at.to_s(:short) %>
            </div>
          </div>
        </li>
    <% end %>
  </ul>
</section>